body {
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
}